{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cliente list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Email</th>
                <th>Data de Nascimento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                
                <td><a href="{{ path('cliente_show', { 'id': cliente.id }) }}">{{ cliente.nome }}</td>
                <td>{{ cliente.endereco }}</td>
                <td>{{ cliente.email }}</td>
                <td>{% if cliente.dataNascimento %}{{ cliente.dataNascimento|date('d/m/Y') }}{% endif %}</td>
                <td>
                    <ul class="nav nav-pills">
                        <li>
                            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">
                                <span class="glyphicon glyphicon-pencil"></span> Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('cliente_delete', { 'id': cliente.id }) }}">
                                <span class="glyphicon glyphicon-trash"></span> Deletar</a>
                        </li>
                    </ul>
                                <!-- class="list-group-item" para botões -->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
