{% extends 'base.html.twig' %}

{% block title %}Filmes{% endblock %}

{% block stylesheets %}
    <style>
        .radio{
            float: left;
            margin-right: 20px;
        }
    </style>
{% endblock %}    

{% block body %}

    <fieldset>

        <legend>Novo Filme</legend>

        {{form_start(form_filmes)}}

        {{ form_row(form_filmes.genero) }}
        
        <div class="form-group">
        
            {{ form_label(form_filmes.lancamento, "É lançamento?") }}
            {{ form_widget(form_filmes.lancamento, 
                {
                "attr": {
                "qualquer": "xxx",
                "class": "col-sm-10"
                } 
                }) 
            }}
            {{ form_errors(form_filmes.lancamento )}}
        
        </div>

        {{ form_widget(form_filmes) }}


        <button id="salvar" name="salvar" class="btn btn-primary pull-right" type="submit">Salvar</button>

        {{form_end(form_filmes)}}

    </fieldset>

{% endblock %}

{% block javascripts %}
    {# Add opção no menu #}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#filmes_genero').val('Selecione');
        });
    </script>    
{% endblock %}